body {
    font-family: 'Poppins', sans-serif;

}

.hero-section {
    height: 576px;
    background-color: #F0FFF0;
    overflow: scroll;
   
}
.hero-section-menu {
    margin-top: 20px;
}
.heder-logo img{
    width: 150px;
    
}
.header-items .nav-link {
    color:black;
}
.e-school-button {
    background-color: #21B573;
    border-radius: 10px;
    text-align: center;
}
.header-items .navbar-brand {
    color:black;
}
.hero-section-middle {
    margin-top: 30px;
}
.hero-section-middle-content {
    color: #FD511A;
    font-size: 20px;
}
.hero-section-middle span {
    color:#21B573;
}
